{% extends "base.html" %}
{% block title %}Ephemeral{% endblock %}
{% block header_text %}How Ephemeral Works{% endblock %}
{% block content %}

<p>Ephemeral will delete all of your old tweets except for specific ones you want to keep.

<p>Go to <a href="{{ url_for('settings') }}">settings</a> to configure your Twitter API credentials and username, as well as which tweets to automatically exclude from deletion.</p>

<p>Go to <a href="{{ url_for('exceptions')}}">exceptions</a> to manually choose which tweets to exclude from deletion. This section lists your tweets that <em>would</em> automatically get deleted, and lets you manually exclude some of them.</p>

<p>Before you can delete any tweets, or choose what tweets you want to manually exclude, you have to fetch all of your old tweets. To do this, run this:</p>

<pre><code>ephemeral --fetch</code></pre>

<p>To actually delete old tweets, run this:</p>

<pre><code>ephemeral --delete</code></pre>

<p>The Twitter API rate limits a lot, and when ephemeral hits a rate limit, it will simply wait until it can continue using the API. For this reason, you should run the command once and wait for it to finish the first time &mdash; it may take a very long time if you have a lot of old tweets. Then set it to run automatically as a cron job to delete your old tweets going forward. (Ephemeral will always fetch tweets before deleting old ones.)</p>

<p>All settings, exceptions, and tweets (including deleted ones) are stored in a sqlite database in your home directory called <code>~/.ephemeral.db</code>.</p>

{% endblock %}
