<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/js/lib/jquery-3.4.1.min.js"></script>
  <script src="/static/js/base.js"></script>
</head>

<body>
  <div class="sidebar">
    <ul>
      <li><a href="{{ url_for('edit_settings') }}">settings</a></li>
      <li><a href="{{ url_for('tweets') }}">tweets</a></li>
    </ul>

    <div class="statistics">
      <ul>
        <li>configured: <span class="value is_configured"></span></li>
        <li>last fetch: <span class="value last_fetch"></span></li>
        <li><span class="value my_tweets"></span> tweets</li>
        <li><span class="value my_retweets"></span> retweets</li>
        <li><span class="value my_likes"></span> likes</li>
        <li><span class="value deleted_tweets"></span> deleted tweets</li>
        <li><span class="value deleted_retweets"></span> deleted retweets</li>
        <li><span class="value unliked_tweets"></span> unliked tweets</li>
        <li><span class="value excluded_tweets"></span> excluded tweets</li>
        <li><span class="value other_tweets"></span> tweets from other users</li>
        <li><span class="value threads"></span> threads</li>
      </ul>
    </div>

  </div>
  <div class="content">
    <h1>{% block header_text %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
