<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="sidebar">
    <ul>
      <li><a href="{{ url_for('index') }}">how it works</a></li>
      <li><a href="{{ url_for('edit_settings') }}">settings</a></li>
      <li><a href="{{ url_for('tweets') }}">tweets</a></li>
    </ul>

    {% if not sidebar['is_configured'] %}
    <p>The Twitter API is not configured yet</p>
    {% endif %}

    <p>
      Last fetched:
      {% if not sidebar['last_fetch'] %}
        Never
      {% else %}
        {{ sidebar['last_fetch'] }}
      {% endif %}
    </p>
  </div>
  <div class="content">
    <h1>{% block header_text %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
