{% extends "base.html" %}
{% block title %}Semiphemeral Settings{% endblock %}
{% block header_text %}Semiphemeral Settings{% endblock %}
{% block content %}

<form method="post" action="{{ url_for('edit_settings') }}">

  <h3>Twitter settings</h3>

  <p>See <a href="https://python-twitter.readthedocs.io/en/latest/getting_started.html">here</a> for documentation on how to get these Twitter API credentials.</p>

  <ul>
    <li>
      <label for="api_key">API key</label>
      <input type="text" name="api_key" value="{{ api_key }}" \>
    </li>
    <li>
      <label for="api_secret">API secret</label>
      <input type="text" name="api_secret" value="{{ api_secret }}" \>
    </li>
    <li>
      <label for="access_token_key">Access token key</label>
      <input type="text" name="access_token_key" value="{{ access_token_key }}" \>
    </li>
    <li>
      <label for="access_token_secret">Access token secret</label>
      <input type="text" name="access_token_secret" value="{{ access_token_secret }}" \>
    </li>
    <li>
      <label for="username">Twitter username</label>
      <input type="text" name="username" value="{{ username }}" \>
    </li>
  </ul>

  <p>
    <label class="checkbox">
      <input type="checkbox" class="delete-tweets-checkbox" name="delete_tweets" {% if delete_tweets %}checked="checked"{% endif %} />
      Delete old tweets
    </label>
  </p>

  <fieldset class="delete-tweets-fieldset">
    <legend>Delete tweets unless they are:</legend>
    <p>
      Newer than
      <input class="small" type="text" name="tweets_days_threshold" value="{{ tweets_days_threshold }}" \>
      days
    </p>
    <p>
      With over
      <input class="small" type="text" name="tweets_retweet_threshold" value="{{ tweets_retweet_threshold }}" \>
      retweets
    </p>
    <p>
      With over
      <input class="small" type="text" name="tweets_like_threshold" value="{{ tweets_like_threshold }}" \>
      likes
    </p>
    <p>
      <label class="checkbox">
        <input type="checkbox" name="tweets_threads_threshold" {% if tweets_threads_threshold %}checked="checked"{% endif %} />
        Don't delete tweets that are part of a thread that contains at least one tweet that meets these thresholds
      </label>
    </p>
    <p>
      <label class="checkbox">
        <input type="checkbox" name="tweets_delete_retweets" {% if tweets_delete_retweets %}checked="checked"{% endif %} />
        Delete all retweets older than the threshold above
      </label>
    </p>
  </fieldset>

  <p>
    <label class="checkbox">
      <input type="checkbox" class="delete-dms-checkbox" name="delete_dms" {% if delete_dms %}checked="checked"{% endif %} />
      Delete old direct messages
    </label>
  </p>

  <fieldset class="delete-dms-fieldset">
    <legend>Delete direct messages unless they are:</legend>
    <p>
      Newer than
      <input class="small" type="text" name="dms_days_threshold" value="{{ dms_days_threshold }}" \>
      days
    </p>
  </fieldset>

  <p><input type="submit" value="Save" /></p>

</form>

<script src="/static/js/settings.js"></script>
{% endblock %}
