{% extends "base.html" %}
{% block title %}Semiphemeral Tweets{% endblock %}
{% block header_text %}Semiphemeral Tweets{% endblock %}
{% block content %}

<div class="tweets">
  <div class="controls">
    <div class="filter">
      <input placeholder="Filter" type="text" />
    </div>
    <div class="options"><label><input type="checkbox" /> Show replies</label></div>
    <div class="info"></div>
    <div class="pagination"></div>
  </div>

  <div class="tweets-to-delete"></div>
</div>

<script sync src="https://platform.twitter.com/widgets.js"></script>
<script src="/static/js/tweets.js"></script>
{% endblock %}
