body {
  font-family: sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  text-align: center;
}

.sidebar ul li a {
  display: inline-block;
  padding: 5px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #a1acfc;
  font-weight: bold;
}

.sidebar .statistics {
  margin-top: 20px;
}

.sidebar .statistics ul li {
  text-align: center;
  color: #666666;
  margin-bottom: 10px;
}

.sidebar .statistics .value {
  color: #e5d204;
}

.content {
  margin-left: 270px;
  padding: 0px 10px;
}

.content h1 {
  font-style: italic;
}

.content a {
  color: #444d93;
}

.settings form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings form ul li {
  margin-bottom: 1em;
}

.settings form label {
  display: inline-block;
  width: 12em;
  text-align: right;
}

.settings form label.checkbox {
  display: inline;
  width: auto;
  text-align: left;
}

.settings form input[type="text"] {
  width: 500px;
}

.settings form input.small {
  width: 50px;
}

.tweets .controls {
  display: none;
  position: fixed;
  bottom: 10px;
  z-index: 999;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 20px;
}

.tweets .controls .filter {
  margin: 0 0 10px 0;
}

.tweets .controls .filter input {
  width: 600px;
  padding: 5px;
  font-size: 1.2em;
}

.tweets .controls .options {
  margin: 0 20px 10px 0;
  color: #666666;
  font-size: 0.8em;
  display: inline-block;
}

.tweets .controls .info {
  margin: 0 0 10px 0;
  color: #666666;
  font-size: 0.8em;
  display: inline-block;
}

.tweets .controls .pagination {
  margin: 15px 0 0 0;
}

.tweets .controls .pagination .pagination-item {
  padding: 5px 10px;
  margin: 0 5px 0 0;
  font-size: 1em;
  border: 1px solid #999999;
}

.tweets .pagination .pagination-item a {
  text-decoration: none;
  color: #034b9e;
}

.tweets .controls .pagination .pagination-item-current {
  color: #000000;
  font-weight: bold;
  border: 0;
}

.tweets .tweets-to-delete {
  padding-bottom: 130px;
}

.tweets .tweets-to-delete .tweet {
  display: inline-block;
  margin: 0 20px 20px 0;
  margin-top: 5px;
}

.tweets .tweets-to-delete .tweet .info .toggle-exclude-label {
  margin-left: 5px;
}

.tweets .tweets-to-delete .tweet .info .toggle-exclude-label.excluded {
  font-weight: bold;
}

.tweets .tweets-to-delete .tweet .info .stats {
  font-size: 0.8em;
  color: #666666;
}
