body {
  font-family: sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  text-align: right;
}

.sidebar ul li a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #a1acfc;
  font-weight: bold;
}

.sidebar .statistics {
  margin-top: 20px;
}

.sidebar .statistics ul li {
  text-align: left;
  color: #666666;
  margin-bottom: 10px;
}

.sidebar .statistics .value {
  color: #e5d204;
}

.content {
  margin-left: 270px;
  padding: 0px 10px;
}

.content h1 {
  font-style: italic;
}

.content a {
  color: #444d93;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin-bottom: 1em;
}

form label {
  display: inline-block;
  width: 12em;
  text-align: right;
}

form label.checkbox {
  display: inline;
  width: auto;
  text-align: left;
}

form input[type="text"] {
  width: 500px;
}

form input.small {
  width: 50px;
}
